{{!-- The tag below includes the header - partials/header.hbs --}}
{{> header}}

<header id="header" class="animated fadeIn"{{#if @settings.cover}} style="background-image: url({{url @settings.cover}})"{{/if}}>
    <div class="header-background">
        <section class="blog-content animated fadeIn">
            <a id="site-url" class="blog-title" href="{{url}}" data-theme-url="{{theme_url}}">{{@settings.title}}</a>
            <span class="blog-description">{{@settings.tagline}}</span>
            {{> links}}
        </section>
    </div>
</header>

<main id="main" class="archive">
    {{> loop}}
</main>

{{!-- The tag below includes the footer - partials/footer.hbs --}}
{{> footer}}
